:root {
  --background-color: #fefcee;
}

.container {
  /* max-width: 1000px; */
  margin: 0 auto;
  border: 2px solid #eee1d7;
  padding: 30px 60px;
  border-radius: 10px;
  background-color: var(--background-color);
  color: #7a6655;
}
.page-one {
  background-color: var(--background-color);
}
.group-photo {
  display: block;
  margin: 0 auto;
  /* max-width: 600px; */
  border-radius: 10px;
}
.home-button {
  background-color: #f2daab;
  border: 2px solid #ed957b;
}
.cafe-button {
  background-color: #ffffff;
  border: 2px solid #ffc5c5;
}
.menu-button {
  background-color: #fefbe5;
  border: 2px solid #ffe180;
}
.merchandise-button {
  background-color: #e5ec98;
  border: 2px solid #b3cb8a;
}
.contact-button {
  background-color: #d0eaeb;
  border: 2px solid #8bbed8;
}
.home-section,
.shop-section {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.shop-interior {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 5px;
}
.icons {
  opacity: 65%;
  display: block;
  margin: 0 auto;
  max-width: 25px;
  padding: 5px;
  padding-top: 15px;
}
.char-description {
  display: block;
  margin: 0 auto;
  /* max-width: 350px; */
}
.characters {
  padding-top: 20px;
}
.credits {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 0;
}
.container-fluid {
  padding: 0;
}

h1,
h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 60px;
  padding-top: 100px;
  font-weight: 600;
}
h2 {
  font-size: 30px;
}
h3 {
  text-align: center;
  margin-top: 0;
}
p {
  text-align: center;
  font-size: 14px;
}
a {
  color: rgb(78, 78, 255);
}
ul {
  list-style: none;
  text-align: center;
  padding: 0px;
}
li {
  display: inline-block;
  margin: 0 3px;
}
button {
  color: #7a6655;
  margin-top: 10px;
  margin-bottom: 90px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 7px 10px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  box-shadow: 0px 3px 5px rgba(153, 144, 22, 0.2);
}
button:hover {
  color: #ffff;
  background-color: #7a6655;
  border: 2px solid #7a6655;
}
img {
  border-radius: 20px;
}
